/*PC 1380 */
@media (min-width: 75em) and (max-width: 86.25em) {
  .control-top {
    z-index: 99999;
  }
}

/* PC small */
@media (min-width: 46.25em) and (max-width: 63.9375em),
  (min-width: 64em) and (max-width: 74em) {
  .control-top {
    z-index: 99999;
  }
  .header__second-img {
    width: 230px;
    height: 26px;
  }
  .header__second-item {
    margin: 0;
  }
  .header-search__control {
    display: flex !important;
  }
  .slide-search__input {
    width: 550px;
  }
  /* .slider-container{
        display:none;
    } */
  .slide-menu__container {
    margin: 0 13px;
  }
}

/* Table and mobile */
@media (max-width: 63.9375em) {
  .header__second-list,
  .slide-search__bottom {
    display: none;
  }
}

/* Mobile  */
@media (max-width: 46.1875em) {
  .slider-container {
    display: none;
  }
  .header__second-list,
  .slide-search__bottom {
    display: none;
  }
  .slide-content__name {
    font-size: 4.5rem;
    margin: 0;
  }
  .slide-content__heading {
    font-size: 3.5rem;
    line-height: 5rem;
    letter-spacing: 0.5px;
  }
  .slide {
    height: 600px;
  }
  .content {
    padding: 0 0 50px;
  }

  .game-container__body-heading {
    padding: 10px;
  }
  .game-container__body-text {
    font-size: 1.55rem;
  }
  .game-body__name {
    margin: 10px 0 12px 0;
  }
  .game-body__name h1 {
    font-size: 1.5rem;
  }
  .game-body__category {
    margin: 0;
  }

  .game-body__category a {
    font-size: 1.2rem;
    margin: 2px 0 2px;
    padding: 2px;
    display: inline-block;
  }
  .game-body__desc {
    margin: 10px 6px;
  }
  .game-body__desc p {
    font-size: 1.5rem;
    line-height: 1.6rem;
  }
  .game-body {
    margin-top: 20px;
  }
  .game-body__sub-name h1 {
    font-size: 1.1rem;
    margin: 10px 0px;
  }
  .game-body__sub-category {
    margin-bottom: 12px;
    margin-left: 0;
  }
  .game-body__sub-category a {
    font-size: 0.7rem;
    margin: 1px;
    padding: 1px;
  }

  .movie-container__body-heading {
    padding: 10px;
  }
  .movie-container__body-text {
    font-size: 1.55rem;
  }
  .movie-body__name {
    margin: 10px 0 12px 0;
  }
  .movie-body__name h1 {
    font-size: 1.5rem;
  }
  .movie-body__category {
    margin: 0;
  }

  .movie-body__category a {
    font-size: 1.2rem;
    margin: 2px 0 2px;
    padding: 2px;
    display: inline-block;
  }
  .movie-body__desc {
    margin: 10px 6px;
  }
  .movie-body__desc p {
    font-size: 1.5rem;
    line-height: 1.6rem;
  }
  .movie-body {
    margin-top: 20px;
  }
  .movie-body__sub-name h1 {
    font-size: 1.1rem;
    margin: 10px 0px;
  }
  .movie-body__sub-category {
    margin-bottom: 12px;
    margin-left: 0;
  }
  .movie-body__sub-category a {
    font-size: 0.7rem;
    margin: 1px;
    padding: 1px;
  }
  .footer-list__item-img {
    width: 120px;
    margin-bottom: 10px;
  }
  .footer-list__item-desc {
    font-size: 1.5rem;
    line-height: 2rem;
  }
  .footer-list__item {
    font-size: 2rem;
  }
  .footer-list__contact {
    font-size: 1.8rem;
    margin-top: 20px;
  }
  .footer-list__contact-item {
    margin: 6px 0;
  }
  .footer-list__contact-text {
    margin-left: 0px;
  }
  .footer-list__item-fanpage {
    margin: 0;
  }
  .footer-fb {
    display: none;
  }
  .footer-block {
    width: 50px;
  }
  .footer-fb__text {
    display: none;
  }
  .footer-fb__like-page {
    display: none;
  }
  .footer-list__item-body,
  .footer-list__item-head {
    font-size: 1.1rem;
  }
  .footer-list__item-view {
    margin: 0 6px 0 0;
  }
  .footer-list__item-online {
    margin: 0 0 0 6px;
  }
  .footer-list__item-body p {
    margin: 0 14px 0 8px;
  }
  .footer-list__item-social {
    font-size: 2rem;
    line-height: 2rem;
    margin: 15px 0;
  }
  .footer-list__item-social-desc {
    font-size: 1.5rem;
  }
  .footer-list__items-link-icon {
    font-size: 1.6rem;
    margin: 10px 0 0 0;
  }
  .header-top__intro-text {
    font-size: 1.6rem;
  }
  .footer-list__item-fanpage-desc {
    line-height: 2rem;
  }
  .row {
    margin: 0;
  }
}
